/*
Template: Effacy - Creative One Page Template
Author: ThemeBite
Author URI: http://themebite.com/
Version: 1.0
Designed and Developed by: ThemeBite
*/


/*
====================================
[ CSS TABLE OF CONTENT ]
------------------------------------
    1.0 - Base Styles
    2.0 - Typography
    3.0 - Global Style
    4.0 - Navigation
    5.0 - Hero Section
    6.0 - About Us Section
    7.0 - Testimonial Section
    8.0 - Creative Section
    9.0 - Awards Section
    10.0 - Pricing And Plans Section
    10.0 - Our Partners Section
    11.0 - Blog Section
    12.0 - Contact Section
    13.0 - Google Map Section
    14.0 - Footer Section
-------------------------------------
[ END CSS TABLE OF CONTENT ]
=====================================
*/

/* ============================
    Base Styles
=============================== */
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #333333;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}


html,
body {
    width: 100%;
    height: 100%;
}


/* link styles */
a {
    color: #ff2a40;
}
a,
a > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #C02232;
    outline: none;
    text-decoration: none;
}


/* Transition elements
/* ------------------------------ */
.navbar a,
.form-control {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; 
}

a,
.btn {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
#qLpercentage {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

/* Reset Box Shadow */

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    box-shadow: none;
}


button:focus {
    outline: none !important;
}


/* ============================
    Typography
=============================== */

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin: 0 0 15px;
    color: #333333;
}

h1 {
    font-size: 50px;
    line-height: 65px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
}

h4 {
    font-size: 18px;
    line-height: 20px}

h5 {

}

h6 {

}
.logo {
    padding: 32px 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
}
.is-sticky .logo {
  padding: 16px 0;
}

.logo h2{
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    padding: 0;
    text-transform: uppercase;
}


/* Button
/* ------------------------------ */
.btn {
    padding: 14px 45px;
}
.btn:focus,
button:focus {
    outline: none !important;
}



/* =-=-=-=-=-=-= List Style =-=-=-=-=-=-= */

ul {
    margin:0;
    padding:0;
    list-style: none;
}

.unorder-list {
    list-style: inherit;
}


/* Form Style
/* ------------------------------ */
.form-group {
    margin-bottom: 20px;
}
.form-control {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  height: 42px;
  line-height: 21px;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
  letter-spacing: 1px;
  letter-spacing: 1px;
  letter-spacing: 0.1rem;
}
.form-control::-webkit-input-placeholder {
    color: #fff;
}
.form-control::-moz-placeholder {
    color: #fff;
}
.form-control:-ms-input-placeholder {
    color: #fff;
}
.form-control::placeholder {
    color: #fff;
}


/* ============================
    Global Styles
=============================== */

.section-padding {
    padding: 130px 0;
}
.morphext > .animated {
    display: inline-block;
}

.section-title {
    font-size: 30px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    letter-spacing: 3px;
    letter-spacing: 0.2rem;
    position: relative;
}
.section-title-left {
    font-size: 30px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    letter-spacing: 3px;
    letter-spacing: 0.2rem;
    position: relative;
}
.section-title-left:after {
  bottom: -15px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 65px;
}
.section-title:after {
  bottom: -20px;
  content: "";
  height: 4px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 65px;
}
.testimoinal-title {
    color: #fff;
    line-height: 35px;
}


.row-content{
    margin-top: 80px;
}

/*custom margin classes*/

/*margin top*/
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-100 {
    margin-top: 100px;
}

/*margin bottom*/
.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb-80 {
    margin-bottom: 80px;
}

/*custom padding classes*/

.no-padding {
    padding: 0!important;
}

/*padding-bottom*/
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
    padding-bottom: 30px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}

/*padding top bottom*/
.ptb-50 {
    padding: 50px 0;
}
.ptb-90 {
    padding: 90px 0;
}

.gutter {
    padding-left: 10px!important;
    padding-right: 10px!important;
}


/*vertical middle align*/
.vertical-middle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 0 15px;
}


/* ============================
    Navigation
=============================== */
.header-area {
    z-index: 20;
}
.navbar-custom {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.06);
    z-index: 1111;
}


.navbar-custom .nav li > a {
    color: #464d58;
    font-size: 15px;
    font-weight: 500;
    padding: 35px 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
}
.is-sticky .navbar-custom .nav li > a {
  padding: 20px;
}

.navbar-collapse {
    max-height: 340px;
}

.navbar-custom .navbar-toggle .icon-bar {
    background: #fff;
}

/* ============================
    Hero Section
=============================== */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 900px;

}
.slider-caption {
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
        -ms-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    width: 100%;
    z-index: 15;
}

.static-bg {
    background: url("../img/bg/hero-bg.jpg") no-repeat scroll center center / cover ;
}
.hero-parallax-bg {
    background: url("../img/bg/parallax/parallax-1.jpg") no-repeat fixed center center / cover ;
}
.hero-particle-bg {
    background: url("../img/bg/particle-2.jpg") no-repeat scroll center center / cover ;
}
.text-rotator-bg {
    background: url("../img/bg/text-rotator/rotator-bg1.jpg") no-repeat fixed center center / cover ;
}
.hero-parallax-bg:before , .hero-particle-bg:before , .text-rotator-bg:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.slider-caption h1 , #main-slide .item.active .slider-content h1 {
  font-size: 72px;
  letter-spacing: 3px;
  letter-spacing: 3px;
  letter-spacing: 0.2rem;
  margin-bottom: 25px;
}
.slider-caption h5 , #main-slide .item.active .slider-content h5  {
    color: #3f3f3f;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    letter-spacing: 0.2rem;
}
.hero-parallax-bg .slider-caption h1 , .hero-parallax-bg .slider-caption h5 , .hero-particle-bg .slider-caption h1 , .hero-particle-bg .slider-caption h5 , .text-rotator-bg .slider-caption h5 {
    color: #fff;
}
.text-rotator-bg h1 {
    font-family: 'Roboto', sans-serif;
}
/* Paricle BG */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
/* Slideshow
================================================== */

/*-- Main slide --*/

#main-slide .item img{
    width: 100%;
    position: relative;
}
#main-slide .carousel-inner .item:after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
#main-slide .item.active .slider-content h1 , #main-slide .item.active .slider-content h5 {
    color: #fff;
}
#main-slide .item .slider-content {
  z-index: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  text-transform: uppercase;
}
#main-slide .item.active .slider-content {
  z-index: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  text-transform: uppercase;
}

#main-slide .slider-content{
    top: 40%;
    margin-top: -50px;
    left: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
}


#main-slide .carousel-control.left,
#main-slide .carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

#main-slide .carousel-control.left span {
    padding: 15px;
}

#main-slide .carousel-control.right span {
    padding: 15px;
}
#main-slide .carousel-control {
    top: 40%;
    width: 50px;
    height: 50px;
}
#main-slide .carousel-control .fa-angle-left, 
#main-slide .carousel-control .fa-angle-right{
    position: absolute;
    z-index: 5;
    display: inline-block;
}

#main-slide .carousel-control .fa-angle-left{
    left: 0;
}

#main-slide .carousel-control .fa-angle-right{
    right: 0;
}

#main-slide .carousel-control i{
    background: #000;
    line-height: 36px;
    font-size: 32px;
    padding: 15px 20px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

#main-slide .carousel-control i:hover{
    color: #fff;
}

/*-- Hero Carousel Animation --*/

.carousel .item.active .animated2 {
    -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
    animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3 {
    -webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
    animation: bounceInLeft 1s ease-in-out 500ms both;
}

.carousel .item.active .animated4 {
    -webkit-animation: flipInX 1s ease-in 500ms both;
    animation: flipInX 1s ease-in 500ms both;
}

.carousel .item.active .animated5 {
    -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
    animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated7 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated8 {
    -webkit-animation: bounceInDown 1s ease-in 800ms both;
    animation: bounceInDown 1s ease-in 800ms both;
}

/* Carousel Fade Effect */
.carousel-fade .carousel-inner .item {
    max-height: 700px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition-property: opacity;
            transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}
.carousel-fade .carousel-inner .item:after {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.carousel-fade .carousel-control {
    z-index: 20;
}


/* ============================
    About Us
=============================== */
.about-us-left {
    padding: 100px 40px 60px 107px;
}
.about-us-right {
    background: #1f1f1f none repeat scroll 0 0;
    padding: 60px 110px 60px 75px;
}
.about-us-right .media {
    margin-top: 40px;
}
.about-us-right .media::first-child {
    margin-top: 0px;
}

.about-us-right .media .fa:before {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 30px;
    height: 60px;
    line-height: 59px;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
    width: 60px;
}
.dotted .fa:after {
    background: #5e5e5e none repeat scroll 0 0;
    content: "";
    height: 80px;
    left: 104px;
    position: absolute;
    width: 1px;
}
.about-us-right .media:hover  .fa:before {
        border: 1px solid transparent;
        color: #fff;
}
.about-us-right .media-heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}

.about-us-right .media p {
    color: #808080;
    font-size: 16px;
    line-height: 25px;
}
.about-us-right .media-body {
  padding: 0 20px;
}



/* ============================
    Our Services
=============================== */
.single-service .media .fa:before {
  border-radius: 50%;
  color: #fff;
  display: block;
  font-size: 30px;
  height: 90px;
  line-height: 87px;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out 0s;
          transition: all 0.2s ease-in-out 0s;
  width: 90px;
}
.our-services {
    margin-top: 30px;
}
.single-service .media .media-left {
  padding-right: 30px;
}
.single-service {
    margin-top: 28px;
}
.single-service .media {
    border: 2px solid #ededed;
    border-radius: 5px;
    padding: 30px 40px;
    -webkit-transition: all 0.2s ease-in-out 0s;
            transition: all 0.2s ease-in-out 0s;
}
.single-service .media-body h3 {
    position: relative;
    margin-bottom: 25px;
}
.single-service .media-body h3:after {
  background: #d9d9d9 none repeat scroll 0 0;
  bottom: -15px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 40px;
}
.single-service .media .media-body > p {
    font-size: 14px;
    line-height: 24px;
}
.single-service .media:hover {
    border: 2px solid transparent;
    cursor: pointer;
}
.single-service .media:hover .fa:before {
    background-color: #fff;
}
.single-service .media:hover h3:after {
    background: #fff;
}
.single-service .media:hover h3 , .single-service .media:hover p {
    color: #fff;
}


/* ============================
    Testimonial Section
=============================== */
.testimonial-section {
    position: relative;
    width: 100%;
    background: url("../img/bg/testimonial-bg.jpg") no-repeat scroll center center / cover;
}
.testimonial-parallax-bg {
    background: url("../img/bg/testimonial-bg.jpg") no-repeat fixed center center / cover;
}
.testimonial-section:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.testimonial-body p , .testimonial-body .client-name a b {
    color: #fff;
}
.testimonial-body p {
    line-height: 25px;
}
.testimonial-body .client-name a b {
    font-size: 16px;
    text-transform: capitalize;
}
.client-name {
  padding-top: 15px;
  position: relative;
}
.client-name:before {
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  top: 12px;
  width: 30px;
}
.testimonial-body {
    position: relative;
    padding-top: 40px;
}
.testimonial-body:before {
  content: "";
  font-family: FontAwesome;
  font-size: 25px;
  left: 0;
  position: absolute;
  top: 0;
}
.testimonial-image img {
    box-shadow: 0px 9px 9px 0px rgba(0,0,0,0.64);
    z-index: 1111;
}
#testimonial-carousel .item img{
    display: block;
}
#testimonial-carousel {
    position: relative;
}
#testimonial-carousel .owl-controls {
    bottom: -50px;
    position: absolute;
    right: 22%;    
}
#testimonial-carousel .owl-controls .owl-buttons .owl-prev, #testimonial-carousel .owl-controls .owl-buttons .owl-next {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #88888a;
    border-radius: 100%;
    color: #88888a;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    line-height: 24px;
    opacity: 1;
    filter: alpha(opacity=100);
    text-align: center;
    text-shadow: none;
    top: auto;
    width: 32px;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
}


/* ============================
    Portfolio Section
=============================== */
.custom-nav ul {
    margin-top: 0;
}
.portfolio-filter-nav ul li {
    border-radius: 3px;
    display: block;
    float: left;
    margin: 0 5px 30px;
}
.portfolio-filter-nav ul li {
    color: #515151;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 12px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}
.portfolio-filter-nav ul li:hover {
    cursor: pointer;
    color: #fff;
}
.portfolio-filter-nav ul li.active {
    color: #fff;
}
.portfolio-showcase {
  margin-top: 110px;
}
.portfolio-showcase #grid {
    width: 100%
}
.portfolio-showcase #grid .thumbnails {
    float: left;
    height: auto;
    margin: 0;
    width: 25%;

}
.portfolio-showcase #grid .thumbnails a {
  display: inline-block;
  float: left;
  height: 100%;
  line-height: 0;
  text-decoration: none;
  width: 100%;
  position: relative;
}
.portfolio-showcase #grid .thumbnails a img {
    display: block;
    position: relative;
    width: inherit;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}

.portfolio-button button.portfolio-btn {
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 500;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.portfolio-button button.portfolio-btn:hover {
    color: #fff;
    border: 2px solid transparent;
}
.thumbnails span.portfolio-overlay {
    background: transparent none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    -webkit-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
    width: 100%;

}
.thumbnails span.portfolio-overlay .fa {
    color: transparent;
    height: 30px;
    left: 50%;
    line-height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    top: 60%;
    -webkit-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
    width: 30px;
    font-size: 28px;
}
.thumbnails:hover span.portfolio-overlay {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.thumbnails:hover span.portfolio-overlay .fa {
    color: #fff;
    top: 50%;
}

/* Simple LightBox Arrow */
button.sl-prev .fa, button.sl-next .fa {
    font-size: 35px !important;
    font-weight: bold;
}

/* ============================
    Awards Section
=============================== */
.our-awards-section {
    background: url("../img/bg/awards-bg.jpg") no-repeat fixed center center / cover;
    width: 100%;
    position: relative;
}
.our-awards-section:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
}

.our-awards-section strong span {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: block;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}
span.count-description {
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
}
.awards-counter {
    padding: 60px 0;
}
.awards-counter .fa {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}


/* ============================
    Pricing And Plans Section
=============================== */

.single-pricing-table {
    border: 1px solid #e7e7e7;
    -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
}
.single-pricing-table .price {
    width: 120px;
    height: 120px;
    display: inline-block;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    padding: 30px;
    margin: 30px 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
}
.single-pricing-table .price h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 400;
    -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
}
.single-pricing-table .pricing-title h2 {
    color: #5b5b5b;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    position: relative;
}
.single-pricing-table .pricing-title {
    margin-bottom: 30px;
}
.single-pricing-table .pricing-title h2:after {
  bottom: -10px;
  content: "";
  height: 2px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 40px;
}
.single-pricing-table .package-item {
    padding: 0 30px;
}
.single-pricing-table .package-item ul li {
    border-bottom: 1px dashed #e7e7e7;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    padding: 5px 0;
}
.single-pricing-table .pricing-buttons {
    margin: 30px 0;
    position: relative;
}
.single-pricing-table .pricing-buttons button.buy-btn {
    background-color: transparent;
    border: 1px solid #9b9b9b;
    color: #5b5b5b;
    font-size: 16px;
    font-weight: 800;
    padding: 5px 45px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
}

.single-pricing-table:hover .price , .single-pricing-table:hover .pricing-buttons button.buy-btn , .table-active .price {
    color: #fff;
    border: 1px solid transparent;
}
.single-pricing-table:hover .price h1 , .table-active .price h1 {
    color: #fff;
}
.single-pricing-table:hover , .table-active {
    box-shadow: 0px 5px 14px -3px rgba(0,0,0,0.61);
    cursor: pointer;
}


/* ============================
    Our Partners Section
=============================== */
.our-partners-section {
box-shadow: inset 0px 2px 25px -8px rgba(0,0,0,0.76);
}

.our-partners-section .item img {
    height: 70px;
    width: 110px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.4s ease-in-out 0s;
            transition: all 0.4s ease-in-out 0s;
}
.our-partners-section img:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
}
.our-partners-section .item {
    padding: 80px 0;
}


/* ============================
    Blog Section
=============================== */
.blog-post-details .post-heading a h2 {
    text-transform: uppercase;
    color: #292929;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    letter-spacing: 0.1rem;
}

.blog-post-details .post-heading em , .blog-post-details .post-heading em a {
    font-style: italic;
    color: #808080;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.blog-post-details p {
    color: #808080;
    font-size: 16px;
}
.blog-post-details button.read-more-btn {
    border: medium none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
}
.blog-post-details button.read-more-btn:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#blog-post-carousel .owl-pagination {
    bottom: 0;
    position: absolute;
    right: 32%;
}

/* ============================
    Contact Us Section
=============================== */
.contact-us-section {
    position: relative;
    width: 100%;
    background: url("../img/bg/contact-bg.jpg") no-repeat scroll center center / cover;
}
.contact-parallax-bg {
    background: url("../img/bg/contact-bg.jpg") no-repeat fixed center center / cover;
}
.contact-title , .contact-subtitle {
    color: #fff;
}
.contact-subtitle {
    position: relative;
}
.contact-us-section:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.contact-form-section {
    position: relative;
    padding: 60px 50px;
}
.contact-form-section:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.contact-form-section button.btn-contact {
    border: 0;
    font-weight: 500;
    padding: 5px 55px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
}
.btn-contact .fa {
  padding-right: 5px;
}
.contact-form-icon {
    position: relative;
}
.contact-form-icon .fa {
  color: #ffffff;
  padding: 14px 12px;
  pointer-events: none;
  position: absolute;
}
.contact-form-icon input, .contact-form-icon textarea {
  padding-left: 35px;
}
.contact-form-section button.btn-contact:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}




/* ============================
    Google Map Section
=============================== */
.goolge-map-section .toggle-map-button button.gmap-btn {
    text-transform: uppercase;
    color: #fff;
    background: #1f1f1f;
    font-size: 16px;
    border: none;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    letter-spacing: 0.1rem;
}

.goolge-map-section .toggle-map-button button.gmap-btn .fa {
    padding-left: 10px;
 }
#gmap-wrapper { 
    height: 350px;
}

/* ============================
    Footer Section
=============================== */
.footer-section {
    background: #000;
}
.footer-section .copyright-info a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    letter-spacing: 1px;
    letter-spacing: 0.1rem;
}
.social-icons a .fa {
    background: #343434 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 0 2px;
    padding: 10px 12px;
    -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
    vertical-align: middle;
}