div.show-image {
    position: relative;
    margin:5px;
}
div.show-image:hover img{
    opacity:0.5;
}
div.show-image:hover input {
    display: block;
}
div.show-image input {
    position:absolute;
    display:none;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
